# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
/reports

# next.js build and cache
.next/
out/
/public/assets/idea_glbs/

references/

# production
/build
/client/dist
/docs
/server/node_modules
/client/node_modules


# player data
/data/players/*.json
!data/players/.gitkeep

# misc & env files
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
error.txt
*.log

# local scratch/test scripts
scripts/scratch/

# media and recordings
*.mp4
*.mov
*.mkv

# OS files
.DS_Store
Thumbs.db